#############################
# Tips to show on death	    #
# while waiting for respawn #
#############################

show_time = 250;

tips = 	Press F1 to open menu with Options, Class selection menu and Achievements;
		Some spells deal more damage the longer you charge them;
		Some spells do not require a full charge to be casted;
		If you find an enemy near a cliff, you can freeze them with ball of frost and push them to their instant death!;  
		If your gravestone flies outside of the map, it will respawn at one of your bases;
		Basic attacks like orbs are cheap and deal small amount of damage, you should use them against very damaged enemies to avoid overkilling!;
		Is an enemy constantly fleeing and teleporting away like a coward? Curse them with slow or use cursor-controlled spells!;
		You may find mana obelisks useful for gaining the upper hand, but using them at the wrong time can make you very vulnerable;
		You can temporarily deny your enemy from using a mana obelisk by casting an AoE spell around it such as arrow rain;
		Some spells are only useful on weakened enemies. For example, someone with low mana may not be able to escape a black hole;
		Don't like the spell layout in your hotbar? You can change it in F1 > Class selection menu!;
		Some spells have very strong knockback and can be used to push your enemies into traps and pits, or alternatively outside mana obelisks;
		Getting bent over by spamming summoners? Wait until their creatures group up and use counter spell to kill them all at once.;
		Sometimes it just isn't worth it to fight over a mana obelisk;
		Make sure to stand clear of your own spells! Many of them can hurt you;
		You always want to calculate your mana, make sure you have some to teleport away from tight opression!;
		Mana obelisks replenish their mana stores at an extremely low rate while being drained fully, so it's best to let them rest after being depleted;
		Try using your [SHIFT] or [USE] key. It might do something while or after using certain spells!;
		You can dismiss spell cast with pressing [MOUSE WHEEL];
		Always use dashing! It is a vital necessity for dodging. Dash will set your movement speed to max, thus it is often used for rushing into opposite side;
		Some of spells depend on your movement direction, in example, Boulder throw;
		Have you even seen the falling red chunk of dust? Try touching one!;
		Having a third keybind at hand is very practical, use [KEY TAUNTS] for extra possibilities;
		Some classes will play aggressively - never stand still!;
		Kiting enemies is often far more useful than trying to shorten distance to them, and some spells are harder to use while chasing someone!;
		Use your spells in a wrong way! In example, Magic barrier and Rock wall could be a temporary surface mid-air and Celestial crush - your own launchpad;
		Do not revive your team mates if you are unsure you can save them - they will respawn with small amount of health and no mana!;
		Standing still has an advantage - after a small period of time of doing nothing you gain +1 mana regeneration until you move;
		In 2 versus 1, the lesser team always gains double mana regeneration and +100% of starting health when their KDR is lesser than average of bigger team;